{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-8 mx-auto text-center">
        <h2><em>We're here to <strong>play</strong></em>.</h2>
        <p>
            Here at Play.com, we love video games and gaming culture. You've found our online store, where we 
            stock the latest titles across various platforms including Xbox, Playstation 
            and PC - and for those who are more old-school, we even sell a selection of board games! 
        </p>
        <p>
            You can get started by checking out our selection of the latest games for whichever platform you game on by clicking your platform
            below. 
        </p>
    </div>
</div>


<div class="row h-50 pb-5 pl-5 pr-5">
    <div class="col-12">
        <div class="col-10 col-md-6 pb-1 mx-auto text-center platform-selector" id="xbox-container">
            <h2><a href="{% url 'products' %}?platform=xbox" class="platform-link"><strong>Xbox Games</strong></a></h2>
        </div>

        <div class="col-10 col-md-6 pb-1 mx-auto text-center platform-selector" id="ps-container">
            <h2><a href="{% url 'products' %}?platform=playstation" class="platform-link"><strong>Playstation
                        Games</strong></a></h2>
        </div>
    </div>
    <div class="col-12">
        <div class="col-10 col-md-6 pb-1 mx-auto text-center platform-selector" id="pc-container">
            <h2><a href="{% url 'products' %}?platform=pc" class="platform-link"><strong>PC Games</strong></a></h2>
        </div>

        <div class="col-10 col-md-6 pb-1 mx-auto text-center platform-selector" id="board-container">
            <h2><a href="{% url 'products' %}?platform=board_game" class="platform-link"><strong>Board
                        Games</strong></a>
            </h2>
        </div>
    </div>
</div>




{% endblock %}