html {
    height: 100%;
}

body {
    background-color: #dce2f2;
    padding: 0;
    margin: 0;
    height: calc(100vh - 164px);
    font-family: 'Barlow', sans-serif;
    color: #555;
}

.dev-border {
    border: 1px solid black;
}

.logo-font {
    text-transform: uppercase;
}

.text-black {
    color: #000 !important;
}

.border-black {
    color: #000 !important;
}

.platform-selector {
    height: 25%;
    position: relative;
}

.platform-selector h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translateY(-50%, -50%);
}

.platform-link {
    color: white;
    text-decoration: none;
}

.product-card {
    margin-top: 20px;
    margin-bottom: 105px;
}

.card-img-container {
    overflow: hidden;
    /* aspect-ratio: 16/9;
    width: 100%; */
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.update-link,
.remove-link {
    text-decoration: none;
    cursor: pointer;
}

#xbox-container {
    background-color: #107c10;
}

#ps-container {
    background-color: #0070cc;
}

#pc-container {
    background-color: #e70014;
}

#board-container {
    background-color: #720768;
}

#template-header {
    background-color: #BDBDBD;
    border-bottom: 1px solid black;
}

#template-footer {
    background-color: #BDBDBD;
    border-top: 1px solid black;
}

#footer-list {
    margin-bottom: 0;
}

/* Media Queries */

@media (min-width: 768px) {
    .platform-selector {
        height: 50%;
    }
}