.overlay {
    padding-bottom: 15%;
}

.image-container {
    width: 50%;
}

.form-row .form-group {
    min-width: 60%!important;
}

#detail-container {
    max-width: 98%;
}

#edit-form {
    margin-bottom: 25%;
}

/* Media Queries */

@media (max-width: 992px) {
    .product-card {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .image-container {
        margin: auto;
        width: 40%;
        padding-bottom: 1rem;
    }
}