{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row m-1">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 product-card">
            <div class="card card-img-container border-0 ratio ratio-1x1">
                {% if product.image_main %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image_main.url }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            <div class="card-body pb-0">
                <p class="mb-0">
                    <a href="{% url 'product_detail' product.id %}">
                        <strong>{{ product.name }}</strong>
                    </a>
                </p>
            </div>
            <div class="card-footer pt-0 border-0 text-left">
                <div class="row">
                    <div class="col">
                        <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                        {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <i class="fas fa-tag mr-1"></i> {{ product.category.friendly_name }}
                        </p>
                        {% endif %}
                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a>
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}